HTML, BODY, TD, INPUT {
	font-family : Arial, Helvetica, sans-serif;
	font-size: 13px;
}

/** Für Formulare und Shopseiten **/

/* Schriftart für Formulartabellen und Formularelemente */
table.formtab td,
table.formtab input,
table.formtab select,
table.formtab textarea {
	font-family : Arial, Helvetica, sans-serif;
	font-size: 13px;
}
